@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.tiptap {
  hr {
    color: white;
  }

  li::marker {
    @apply text-black dark:text-white;
  }

  :first-child {
    margin-top: 0;
  }

  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ul[data-type='taskList'] {
    list-style-type: none;
    margin-left: 0;
    padding: 0;

    li {
      align-items: flex-start;
      display: flex;
      @apply p-4 dark:bg-stone-700 rounded-xl bg-stone-200 shadow-xl;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }

      ul[data-type='taskList'] {
        margin: 0;
      }
    }
  }
}

.custom-bttn {
  @apply flex justify-center items-center w-10 h-10 aspect-square shadow-sm hover:shadow-lg hover:cursor-pointer
        hover:from-blue-400 hover:to-blue-500 hover:text-zinc-50 transition-all duration-200
        ease-out bg-gradient-to-br from-zinc-100 to-transparent backdrop-blur-sm text-zinc-950 dark:from-zinc-900 dark:to-zinc-800  dark:text-zinc-50 p-2
        rounded-xl inset-shadow-xs inset-shadow-zinc-50/25 self-end;
}
